.card__size {
    width: 300px;
}

.card__title {
    margin: 0 0 15px 0;
}

.card__img--container {
    margin: 30px 0 15px 0;
}

.card__image {
    border-radius: 100% !important;
    max-width: 250px;
    max-width: 250px;
}

.pointer {
    cursor: pointer;
}
