<div class="content" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="grid">
    <div fxLayoutAlign="center" fxFlex="20%" *ngFor="let artist of artists">
        <mat-card class="mat-elevation-z4 card__size">
            <mat-card-header>
                <mat-card-title class="card__title">{{ artist.name }}</mat-card-title>
            </mat-card-header>
            <div class="card__img--container" fxLayout="row wrap" fxLayoutAlign="center">
                <img mat-card-image class="card__image" [src]="artist.photoUrl || null" />
            </div>
            <mat-card-content>
                <p>Birth date: {{ getFormattedDate(artist.birthdate) }}</p>
                <p>Death date: {{ getFormattedDate(artist.deathDate) }}</p>
                <p>Last update: {{ getFormattedDate(artist._updatedAt) }}</p>
            </mat-card-content>
            <mat-card-actions
                fxLayout="row wrap"
                fxLayoutAlign="space-evenly"
                style="margin-bottom: 5px"
            >
                <mat-icon
                    class="pointer"
                    aria-hidden="false"
                    (click)="navigateToEdit(artist._id)"
                    aria-label="Example home icon"
                    >edit</mat-icon
                >
                <mat-icon
                    class="pointer"
                    (click)="deleteArtist(artist._id)"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    >delete</mat-icon
                >
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div style="margin-top: 30px" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="grid">
    <mat-icon class="pointer" aria-hidden="false" aria-label="Example home icon"
        >add_circle_outline</mat-icon
    >
    <span mat-button (click)="navigateToNew()" class="pointer"> Create new element</span>
</div>
