<div
    *ngIf="artist"
    class="content"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="grid"
>
    <h2>{{ artist.name }}</h2>
    <form class="form">
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input
                type="text"
                [(ngModel)]="artist.name"
                [ngModelOptions]="{ standalone: true }"
                matInput
            />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Photo url</mat-label>
            <input
                [(ngModel)]="artist.photoUrl"
                [ngModelOptions]="{ standalone: true }"
                type="text"
                matInput
            />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Birth date</mat-label>
            <input
                matInput
                [(ngModel)]="artist.birthdate"
                [ngModelOptions]="{ standalone: true }"
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="birthDatePicker"
            />
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Death date</mat-label>
            <input
                matInput
                [(ngModel)]="artist.deathDate"
                [ngModelOptions]="{ standalone: true }"
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="deathDatePicker"
            />
            <mat-datepicker-toggle matSuffix [for]="deathDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #deathDatePicker></mat-datepicker>
        </mat-form-field>
    </form>
    <div class="pointer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="grid">
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit </mat-icon
        ><span (click)="editArtist(artist._id)">Save changes</span>
    </div>
</div>
