<div
    *ngIf="album"
    class="content"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="grid"
>
    <h2>{{ album.title }}</h2>
    <form class="form">
        <mat-form-field class="full-width">
            <mat-label>Title</mat-label>
            <input
                type="text"
                [(ngModel)]="album.title"
                [ngModelOptions]="{ standalone: true }"
                matInput
            />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Artist</mat-label>
            <input
                type="text"
                [(ngModel)]="album.artistId"
                [ngModelOptions]="{ standalone: true }"
                matInput
            />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Cover url</mat-label>
            <input
                [(ngModel)]="album.coverUrl"
                [ngModelOptions]="{ standalone: true }"
                type="text"
                matInput
            />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Year</mat-label>
            <input
                [(ngModel)]="album.year"
                [ngModelOptions]="{ standalone: true }"
                type="number"
                matInput
            />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Genre</mat-label>
            <input
                [(ngModel)]="album.genre"
                [ngModelOptions]="{ standalone: true }"
                type="text"
                matInput
            />
        </mat-form-field>
    </form>
    <div class="pointer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="grid">
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit </mat-icon
        ><span (click)="editAlbum(album._id)">Save changes</span>
    </div>
</div>
