<nav class="stroke">
    <ul style="padding: 0">
        <li><a routerLink="artists">Artists</a></li>
        <li><a routerLink="albums">Albums</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>
