<div class="content" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="grid">
    <div fxLayoutAlign="center" fxFlex="20%" *ngFor="let album of albums">
        <mat-card class="mat-elevation-z4 card__size">
            <mat-card-header>
                <mat-card-title class="card__title">{{ album.title }}</mat-card-title>
            </mat-card-header>
            <div class="card__img--container" fxLayout="row wrap" fxLayoutAlign="center">
                <img mat-card-image class="card__image" [src]="album.coverUrl || null" />
            </div>
            <mat-card-content>
                <p>
                    Artist: <a routerLink="artists/{{ album.artistId }}">{{ album.artistId }}</a>
                </p>
                <p>Year: {{ album.year }}</p>
                <p>Genre: {{ album.genre }}</p>
                <p>Last update: {{ getFormattedDate(album._updatedAt) }}</p>
            </mat-card-content>
            <mat-card-actions
                fxLayout="row wrap"
                fxLayoutAlign="space-evenly"
                style="margin-bottom: 5px"
            >
                <mat-icon
                    class="pointer"
                    aria-hidden="false"
                    (click)="navigateToEdit(album._id)"
                    aria-label="Example home icon"
                    >edit</mat-icon
                >
                <mat-icon
                    class="pointer"
                    (click)="deleteAlbum(album._id)"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    >delete</mat-icon
                >
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div style="margin-top: 30px" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="grid">
    <mat-icon class="pointer" aria-hidden="false" aria-label="Example home icon"
        >add_circle_outline</mat-icon
    >
    <span mat-button (click)="navigateToNew()" class="pointer"> Create new element</span>
</div>
